@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #2f3640;
}

.container {
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.slide {
    position: relative;
    height: 80vh;
    margin: 10px;
    flex-grow: 1;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.slide h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active {
    flex-grow: 10;
}

.slide.active h3 {
    opacity: 1;
}
